@use "./../base/variables" as v;
@use "./../base/mixins" as m;

.contact-contenedor {
    align-items: center;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    justify-content: center;

    @include m.tablet {}

    h1 {
        color: v.$fondo-secundario;
        font-size: 4rem;
        margin-top: 2rem;
        text-align: center;

        @include m.tablet {
            margin-top: 0;
            font-size: 4.2rem;
            text-align: left;
        }
    }

    .contact-form {
        width: 95%;

        @include m.tablet {
            width: 70rem;
        }
    }
}