@use "./../base/variables" as v;

.profesionals-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    p {
        line-height: 2;
        font-size: 3.5rem;
        color: v.$fondo-secundario;
        text-align: justify;
    }
}