@use "./../base/variables" as v;
@use "./../base/mixins" as m;

.profesionals__contenedor-arriba {
    padding-bottom: 2rem;

    @include m.tablet {
        padding-top: 1.5rem;
        padding-bottom: .5rem;
    }

    main {
        padding: 2rem 0;
    }
}

.profesionals__contenedor-abajo {
    section {
        display: grid;

        @include m.tablet {
            grid-template-columns: 1fr 1fr;
        }

        p {
            order: -1;

            @include m.tablet {
                order: 1;
            }
        }
    }
}

.profesionals-contenedor {
    display: grid;
    gap: 3rem;

    @include m.tablet {
        grid-template-columns: 1fr 1fr;
    }

    p {
        line-height: 2;
        font-size: 3rem;
        color: v.$fondo-secundario;
        text-align: justify;
        margin-top: 0;

        @include m.tablet {
            font-size: 3.5rem;
        }
    }
}