@use "./../base/variables" as v;
@use "./../base/mixins" as m;

.regions__contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    background: v.$fondo-principal;
    height: 25rem;

    @include m.tablet {
        max-height: calc(100vh - 124px);
        height: auto;
    }

    .regiones-img {
        height: 21rem;
        text-align: center;

        @include m.tablet {
            max-height: calc(100vh - 124px);
            height: 100%;
        }

        img {
            padding: 2rem 0;
            height: 100%;
            width: 100%;

            @include m.tablet {
                height: auto;
                width: auto;
            }
        }
    }
}


.contenedor-regiones-spain {
    background-color: v.$fondo-secundario;
    border-radius: 5rem;
    color: v.$color-fuente-principal;
    text-align: center;
    margin-top: 4rem;
    padding: 4rem 3rem;

    @include m.tablet {
        border-radius: 10rem;
    }

    h2 {
        font-size: 4rem;
        margin-top: 0;

        @include m.tablet {
            font-size: 6rem;
        }
    }

    p {
        font-size: 2.3rem;

        @include m.tablet {
            font-size: 3.5rem;
        }
    }

    .regiones__ciudades-spain {
        display: grid;
        gap: 1rem;

        @include m.tablet {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 5rem;
        }
    }

    .regiones__norte-sur-spain {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        @include m.tablet {
            flex-direction: row;
            gap: 15%;
        }
    }
}

.hospitales-spain {
    text-align: left;
    padding: 0 1rem;

    h3 {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 3.7rem;
    }

    li {
        list-style: disc;
        line-height: 1.5;
        font-size: 1.8rem;

        @include m.tablet {
            font-size: 1.9rem;
        }
    }
}

.contenedor-regiones-paises {
    background-color: v.$fondo-secundario;
    border-radius: 5rem;
    color: v.$color-fuente-principal;
    text-align: center;
    margin-top: 5rem;
    display: grid;
    padding: 4rem 3rem;

    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &:last-of-type {
        margin-bottom: 5rem;
    }
}

.regiones__paises {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    @include m.tablet {
        border-right: 2px solid v.$color-fuente-principal;
        flex-direction: row;
        padding: 0 5.5rem;
    }

    h3 {
        font-size: 4rem;
        margin-top: 0;
        margin: 0;

        @include m.tablet {
            font-size: 5rem;
        }
    }

    .regiones__paises-texto {
        text-align: center;
        margin: 2rem 0;
        font-style: italic;

        @include m.tablet {
            text-align: right;
            margin: 0;
            font-style: normal;
        }

        p {
            font-size: 2.3rem;
            margin: 1.5rem 0;

            @include m.tablet {
                font-size: 2.8rem;
            }
        }
    }
}

.regiones__paises-hospitales {
    text-align: left;

    @include m.tablet {
        margin-left: 3rem;
    }

    li {
        list-style: disc;
        line-height: 1.5;
        font-size: 1.8rem;
    }
}