@use "./../base/variables" as v;
@use "./../base/mixins" as m;

.fondo-servicios {
    min-height: calc(100vh - 118.25px);
    background-color: v.$fondo-principal;

    @include m.tablet {
        min-height: calc(100vh - 124px);
    }
}

.servicios {
    text-align: center;

    h1 {
        font-size: 4rem;
        color: v.$color-fuente-terciaria;
        margin: 1rem 0;

        @include m.tablet {
            font-size: 5rem;
        }
    }

    .servicios-contenedor {
        margin-top: 5.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        color: v.$color-fuente-principal;

        @include m.tablet {
            flex-direction: row;
            gap: 7rem;
        }
    }

    .servicios__servicio {
        background-color: v.$fondo-secundario;
        border-radius: 4.5rem;
        width: 30rem;
        height: 35rem;
        padding: 2.5rem 2rem;

        h2 {
            font-weight: normal;
            font-size: 2.5rem;
            margin-bottom: 4.5rem;
        }

        p {
            font-size: 2.2rem;
            letter-spacing: 2px;
            line-height: 2;
        }
    }

    .servicios__boton {
        background-color: v.$fondo-principal;
        border: none;
        color: v.$color-fuente-principal;
        display: inline-block;
        font-size: 3rem;
        font-weight: 700;
        margin-top: 8rem;
        margin-bottom: 2rem;
        padding: 4rem 3.4rem;
        transition: background-color .3s ease;
        width: 95%;

        @include m.tablet {
            width: 50%;
        }

        &:hover {
            background-color: darken($color: v.$fondo-principal, $amount: 10)
        }
    }
}