@use "./../base/variables" as v;
@use "./../base/mixins" as m;

.navbar {
    display: flex;
    flex-direction: column;
    background-color: v.$fondo-secundario;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;

    .navbar__logo-contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar__logo {
        width: 8rem;
        height: 6rem;

        @include m.tablet {
            width: 9rem;
            height: 7rem;
        }
    }

    .navbar__logo-texto {
        color: v.$color-fuente-secundario;
        font-size: 2rem;
        margin-left: -3.3rem;
        position: relative;

        @include m.tablet {
            font-size: 3rem;
            margin-left: -3.5rem;
        }

        &::after {
            content: "Freelance";
            position: absolute;
            top: 1rem;
            left: 8rem;
            transform: rotate(-25deg);
            font-size: 1.4rem;
            letter-spacing: 2px;

            @include m.tablet {
                font-size: 2.3rem;
                top: 1rem;
                left: 12rem;
            }
        }
    }

    .navbar__menu-fondo {
        background-color: v.$color-fuente-principal;

        @include m.tablet {
            padding: .5rem 0;
        }
    }

    .navbar__menu-contenedor {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;

        ul {
            margin: 0;
        }
    }

    .navbar__submenu {
        align-items: center;
        color: v.$blanco;
        display: flex;
        gap: 3rem;
        font-size: 1.5rem;
        justify-content: flex-end;
        padding: 1rem 0;

        @include m.tablet {
            font-size: 2rem;
        }
    }

    .navbar__submenu-item {
        color: lighten(v.$fondo-principal, $amount: 20);
        transition: color .3s ease;

        &:hover {
            color: darken(v.$fondo-principal, 5);
        }
    }

    .navbar__submenu-item--blanco {
        display: none;
        color: v.$color-fuente-principal;

        @include m.tablet {
            display: block;
        }
    }

    .navbar__submenu-language {
        background-color: transparent;
        border: none;
        color: inherit;

        &:hover {
            cursor: pointer;
        }

        option {
            background-color: v.$fondo-secundario;
        }
    }

    .navbar__menu-responsive {
        height: 2.7rem;
        width: 2.7rem;
        margin-bottom: .5rem;
        margin-right: 1rem;

        @include m.tablet {
            display: none;
        }
    }

    .navbar__menu {
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
        background-color: v.$color-fuente-principal;
        gap: 4rem;
        position: absolute;
        top: 59px;
        left: -35rem;
        height: 100vh;

        @include m.tablet {
            padding-top: 0;
            position: inherit;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 2rem;
            height: auto;
            top: 0;
            left: 0;
        }
    }

    .navbar__menu-item {
        color: black;
        font-size: 2rem;
        padding: .7rem 1rem 0;
        transition: border-top .1s ease-in-out;
        margin-right: 1.5rem;

        &:hover {
            border-top: v.$fondo-principal 4px solid;
        }
    }
}

.mostrar {
    left: -2rem !important;
    animation-name: menu;
    animation-duration: .9s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.desaparecer {
    left: -2rem !important;
    animation-name: menuDesaparecer;
    animation-duration: .9s;
    animation-direction: alternate;
    animation-fill-mode: forwards;

    @include m.tablet {
        animation: inherit;
    }
}

@keyframes menu {
    0% {
        transform: translateX(-30rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes menuDesaparecer {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-30rem);
    }
}