@use "./mixins" as m;
@use "./variables" as v;

.btn-submit {
    @include m.boton(v.$fondo-secundario, v.$blanco);
    margin-top: 1rem;

    @include m.tablet {
        margin-top: 2rem;
    }
}

@include m.tablet {
    .btn-submit {
        width: 30%;
    }
}