@use "./variables" as v;

@mixin telefono {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin tablet {
    @media(min-width: 968px) {
        @content;
    }
}

@mixin boton($bgColor, $colorTexto ) {
    background-color: $bgColor;
    padding: 1rem 3.4rem;
    color: $colorTexto;
    font-size: 1.7rem;
    font-weight: 700;
    border: none;
    border-radius: 1.5rem;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    width: 100%;
    display: inline-block;

    &:hover,
    &.active {
        background-color: darken($bgColor, 10%);
        cursor: pointer;
    }
}