$fondo-principal: #f5670e;
$fondo-secundario: #324663;
$fondo-terciario: #1f242b;

$blanco: #fff;
$color-fuente-principal: #fcfcfc;
$color-fuente-secundario: #151313;
$color-fuente-terciaria: rgb(24, 24, 24);

// Color linear-gradient #f9c7a7